html,
body {
  margin: 0;
}

.bm-burger-button {
  position: absolute;
  width: 24px;
  height: 20px;
  left: 42px;
  top: 50px;
}

.bm-burger-bars {
  background: #fff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #1c1b1b;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
